
// primary
$primary: var(--v-primary-base);
$primary-l5: var(--v-primary-lighten5);
$primary-l4: var(--v-primary-lighten4);
$primary-l3: var(--v-primary-lighten3);
$primary-l2: var(--v-primary-lighten2);
$primary-l1: var(--v-primary-lighten1);

$primary-d5: var(--v-primary-darken5);
$primary-d4: var(--v-primary-darken4);
$primary-d3: var(--v-primary-darken3);
$primary-d2: var(--v-primary-darken2);
$primary-d1: var(--v-primary-darken1);

// secondary
$secondary: var(--v-secondary-base);

$secondary-l5: var(--v-secondary-lighten5);
$secondary-l4: var(--v-secondary-lighten4);
$secondary-l3: var(--v-secondary-lighten3);
$secondary-l2: var(--v-secondary-lighten2);
$secondary-l1: var(--v-secondary-lighten1);

$secondary-d5: var(--v-secondary-darken5);
$secondary-d4: var(--v-secondary-darken4);
$secondary-d3: var(--v-secondary-darken3);
$secondary-d2: var(--v-secondary-darken2);
$secondary-d1: var(--v-secondary-darken1);

// accent
$accent: var(--v-accent-base);

$accent-l5: var(--v-accent-lighten5);
$accent-l4: var(--v-accent-lighten4);
$accent-l3: var(--v-accent-lighten3);
$accent-l2: var(--v-accent-lighten2);
$accent-l1: var(--v-accent-lighten1);

$accent-d5: var(--v-accent-darken5);
$accent-d4: var(--v-accent-darken4);
$accent-d3: var(--v-accent-darken3);
$accent-d2: var(--v-accent-darken2);
$accent-d1: var(--v-accent-darken1);

// error
$error: var(--v-error-base);

$error-l5: var(--v-error-lighten5);
$error-l4: var(--v-error-lighten4);
$error-l3: var(--v-error-lighten3);
$error-l2: var(--v-error-lighten2);
$error-l1: var(--v-error-lighten1);

$error-d5: var(--v-error-darken5);
$error-d4: var(--v-error-darken4);
$error-d3: var(--v-error-darken3);
$error-d2: var(--v-error-darken2);
$error-d1: var(--v-error-darken1);

// info
$info: var(--v-info-base);

$info-l5: var(--v-info-lighten5);
$info-l4: var(--v-info-lighten4);
$info-l3: var(--v-info-lighten3);
$info-l2: var(--v-info-lighten2);
$info-l1: var(--v-info-lighten1);

$info-d5: var(--v-info-darken5);
$info-d4: var(--v-info-darken4);
$info-d3: var(--v-info-darken3);
$info-d2: var(--v-info-darken2);
$info-d1: var(--v-info-darken1);

// succes
$success: var(--v-success-base);

$success-l5: var(--v-success-lighten5);
$success-l4: var(--v-success-lighten4);
$success-l3: var(--v-success-lighten3);
$success-l2: var(--v-success-lighten2);
$success-l1: var(--v-success-lighten1);

$success-d5: var(--v-success-darken5);
$success-d4: var(--v-success-darken4);
$success-d3: var(--v-success-darken3);
$success-d2: var(--v-success-darken2);
$success-d1: var(--v-success-darken1);

// warning
$warning: var(--v-warning-base);

$warning-l5: var(--v-warning-lighten5);
$warning-l4: var(--v-warning-lighten4);
$warning-l3: var(--v-warning-lighten3);
$warning-l2: var(--v-warning-lighten2);
$warning-l1: var(--v-warning-lighten1);

$warning-d5: var(--v-warning-darken5);
$warning-d4: var(--v-warning-darken4);
$warning-d3: var(--v-warning-darken3);
$warning-d2: var(--v-warning-darken2);
$warning-d1: var(--v-warning-darken1);